@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: #3a6cf4;
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a {
  color: #3a6cf4;
  font-size: 1.1em;
  font-weight: 300;
  padding-left: 30px;
  text-decoration: none;
}

.navigation a:hover {
  color: purple;
}

.social-icons a {
  font-size: 1.7em;
  padding-right: 30px;
  color: #fffe;
}


.ig:hover {
  color: #db2d7b;
}

.gh:hover {
  color: #b37708;
}

section {
  padding: 100px 200px;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/1.jpeg");
  background-size: cover;
  background-position: center;
}

.main .text h2 {
  color: #3a6cf4;
  font-size: 3.2em;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000; /* Black outline */
}

.main .text span {
  color: #3a6cf4;
  font-weight: 800;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000; /* Black outline */
}

.main .text h3 {
  color: #6c5ce7;
  font-size: 2.2em;
  margin: 10px 0;
  font-weight: 500;
}

.main .main-btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #3a6cf4;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1.2em;
  text-decoration: none;
}
.main-btn:hover {
  background-color: #6c5ce7; 
  color: #fff; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease; 
}

.cards {
  text-align: center;
}

.title {
  font-size: 2.4em;
  color: #000;
}

.cards .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.cards .card {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.3s ease;
}

.cards .card:hover {
  transform: translateY(-15px);
}

.cards .card .icon {
  font-size: 2.8em;
  color: #3a6cf4;
}

.cards .card .info h3 {
  font-size: 1.6em;
  color: #000;
  margin: 10px 0;
  font-weight: 500;
}

.cards .card .info p {
  font-size: 1em;
  color: #5b5e6a;
  font-weight: 300;
}

.projects {
  text-align: center;
}

.projects .title {
  font-size: 2.4em;
  color: #000;
}

.projects .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.project-card {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-15px);
}

.project-card .project-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.project-info {
  text-align: left;
}

.project-category {
  font-size: 1em;
  color: #5b5e6a;
}

.project-title {
  font-size: 1.6em;
  color: #000;
  margin: 10px 0;
  font-weight: 500;
}

.project-title .more-details {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}

.contact {
  text-align: center;
}

.contact .title {
  font-size: 2.4em;
  color: #000;
}

.contact .content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.contact .card {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.3s ease;
}

.contact .card:hover {
  transform: translateY(-15px);
}

.contact .card .icon {
  font-size: 2.8em;
  color: #3a6cf4;
}

.contact .card .info h3 {
  font-size: 1.6em;
  color: #000;
  margin: 10px 0;
  font-weight: 500;
}

.contact .card .info p {
  font-size: 1em;
  color: #5b5e6a;
  font-weight: 300;
}

.footer {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
}

.footer-title {
  font-size: 1.2em;
  color: #000;
}

.footer-title span {
  color: #121212; /* Logo color set to black */
}

.footer .social-icons {
  margin-top: 10px;
}
